#reg-form{
    display: flex;
    vertical-align: top;
    align-content: center;
    margin:50px 0 0 350px;
    height: 500px;
    width: 700px;
    box-shadow: 2px 5px 18px rgb(129, 200, 209);
    gap:40px;
    border-radius: 10px;
}
#reg-head{
    background: rgba(92, 156, 156, 0.616);
    color:#fff;
    border-radius: 10px;
    height:45px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
#regun,#regemail,#phn,#regpass,#resi,#gender,#mem{
    float: right;
    border-radius: 5px;
    margin: 0 0 0 10px;
    font-family:'Times New Roman', Times, serif;
    outline:none;
}
#resi{
    margin-right:135px;
}
#gender{
    margin-right: 80px;
}
#mem{
    margin-right: 150px;
    border-color: rgba(92, 156, 156, 0.616);
}
#regbtn{
    margin: 0 0 0 100px;
    border-radius: 10px;
    background:rgba(92, 156, 156, 0.616);
    color:rgba(14, 15, 15, 0.616);
    font-weight: bold;
}
#regnem,#rgemail,#phno,#passwo,#resid,#reggen,#regmem{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
   
    text-shadow:2px 5px 18px rgb(129, 200, 209) ;
    
}
#regun,#regemail,#phn,#regpass,#resi,#gender,#mem:focus {
    border-color: rgba(92, 156, 156, 0.616);
  }
  select{
    background: rgba(92, 156, 156, 0.37);
  }
  

